.footer {
  background: rgb(202, 187, 187);
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  /* align-content: center; */
}

.footer__copyright {
  text-align: center;
  text-transform: capitalize;
}
