* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: 16px; */
}
a {
  text-decoration: none;
}
.btn-primary {
  color: #222;
  background: #af9a7d;
  padding: 0.4rem 0.9rem;
  border: 3px solid #af9a7d;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.3ch;
  transition: all 0.3s linear;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.btn-primary:hover {
  background: transparent;
  color: #af9a7d;
}
body {
  padding-top: 66px;
  color: #222;
  background: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
  background: rgb(223, 194, 194);
}
.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
  letter-spacing: 0.2ch;
}
.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: 0.3ch;
}
